a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Inherit color from parent */
}

.gameholder {
    border: 5px solid rgb(12, 12, 20);
    border-radius: 5px;
    background-color: rgb(15, 15, 15);
    width: 140px;
    height: 200px;
    margin: 5px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.gameholder img {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.gameholder.compact .gt {
    display: none;
}

.gameholder.compact {
    height: 140px;
    padding: 10px 5px;
}

.gt {
    font-size: 12px;
    font-family: monospace;
    font-weight: bold;
    color: rgb(255, 255, 255);
}